
/* HEADER */
.header{

    display: flex;
    flex-direction: column;
    
}

.header__menu{
    
    display: flex;
    justify-content: center;
    align-items:center;

   
}

a{
    text-decoration: none;
    padding: 0.5rem;
}



.header__logo{
    display: flex;
    justify-content: center;
    height: 100px;
}
.main__banner{

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}

.main__tituloyboton{
    display: flex;
    flex-direction:row;
    align-items: center;
 
}
.main__boton{
 padding: 10px;
margin-left: 175px;
background: #7DBB02;
border-radius: 0px 20px;
text-align: center;

  
}

.h2{
    font-size: 36px;
}

h3{
    text-align: center;
}


.main__productos_container{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
  
}

.main__subtitulo{
    font-size: 36px;
}


.main__mapa{
 display: flex;
 justify-content: center;
    
}

/* FOOTER */
.footer{

display: flex;
flex-direction: column;
background-color: green;
}

.footer__redes{
display: flex;
justify-content: center;
}

.footer__copy{
    display: flex;
    justify-content: center;
}